In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/home/harsh/Hackathons/TradeGAN/data/ZENSARTECH_NS.csv")

In [5]:
df

            date             AdjOpen            AdjClose
0            NaN       ZENSARTECH.NS       ZENSARTECH.NS
1     2010-01-04   23.92566183543876   24.82704734802246
2     2010-01-05  24.927198767632476  24.367080688476562
3     2010-01-06  24.704632596924093  24.474651336669922
4     2010-01-07   24.85300582677547  24.522869110107422
...          ...                 ...                 ...
2956  2021-12-24   465.2412125063027  457.20001220703125
2957  2021-12-27   454.7110837102805   450.0203857421875
2958  2021-12-28  451.83918393293305  477.39874267578125
2959  2021-12-29   482.4723665236928  502.19244384765625
2960  2021-12-30  502.57535670617733   496.5444641113281

[2961 rows x 3 columns]

In [6]:
import matplotlib
print(matplotlib.__version__)

3.10.0